input[type="checkbox"] {
    accent-color: #ebbc51;
    margin: 3px 3px 3px 4px;
}

input[type="number"] {
    width: 60px;
    background-color: #ebbc51;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 3px solid #aa5023;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="range"] {
    accent-color: #ebbc51;
    background: white;
    border: 3px solid #aa5023;
}


